.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
presentation-concordance.tex
amylogram-2.0-presentation.Rproj
presentation.log
presentation.synctex.gz
presentation.tex

*.log

poster\.synctex\.gz

*.tex

*.nav

beamerthemegemini\.pdf

figure/r-1\.pdf

figure/res-1\.pdf

figures/mbo\.svg

figures/ngram_scheme_poster\.svg

poster-r\.pdf

poster-res\.pdf

poster-tunecomp\.pdf

Rplots\.pdf
