.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
presentation-concordance.tex
amylogram-2.0-presentation.Rproj
presentation.log
presentation.synctex.gz
presentation.tex

*.log

poster\.synctex\.gz

*.tex

*.nav
